<h1>Weather Data for <%= @data['location']['city'] %>,<%= @data['location']['region'] %></h1>

<h3>Get Data from a New City</h3>

<%= form_tag '/' ,method: :get do %>
  <%= label_tag :city, 'City : ' %>
  <%= text_field_tag :city %>
  <%= label_tag :state, "State : " %>
  <%= text_field_tag :state %>
  <%= label_tag :woeid, "WOEID : " %>
  <%= text_field_tag :woeid %>
  <%= submit_tag 'Get New Weather Data.' %>
<% end %>

<h2>Current Weather</h2>
<div>Temp Low : <%= @current_weather['temp'] %></div>
<div>Description : <%= @current_weather['text'] %></div>

<h2>Five Day Forecast</h2>

<div class="forecast">
  <ul style="display: inline">
  <% 5.times do |i| %>
    <li style="display: inline">
      <table><tr><td>
      <div>Date : <%= @forecast[i]['date'] %></div>
      <div>Temp Low : <%= @forecast[i]['low'] %></div>
      <div>Temp High : <%= @forecast[i]['high'] %></div>
      <div>Description : <%= @forecast[i]['text'] %></div>
      </td></tr></table>
    </li>
  <% end %>
  </ul>
</div>







